.App {
  text-align: center;
}

.header-landing-page h1 {
  font-size: 85px;
  margin-bottom: 0%;
  /* background: -webkit-linear-gradient(#eee, #333); */
  background: -webkit-linear-gradient(#17EAD9, #5B247A);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-landing-page span {
  font-size: 18px;
  font-weight: 200;
  color: rgba(23, 227, 234, 0.918);
}

.all-titles h1 {
  font-size: 36px;
  font-weight: 200;
  color: rgba(23, 227, 234, 0.918);
}

.all-titles h3 {
  color: red;
}

.search-title {
  margin-bottom: 10%;
}
.search-title img {
  width: 25%;
  height: 25%;
}

.search-title p, a {
  color: rgba(23, 227, 234, 0.918);
}

.search-articles {
  margin-top: 5%;
  color: #FCE38A;
}

.movie-page {
  margin-bottom: 20%;
  justify-content: center;
  text-align: center;
}

.movie-page h1 {
 
  font-size: 50px;
  font-weight: 200;
  text-transform: uppercase;
  margin-top: 5%;
  margin-bottom: 5%;
  /* border-top: 1px solid #FCE38A;
  border-bottom: 1px solid #FCE38A; */
  color: #FCE38A;
}

.movie-page img {
  width: 35%;
  height: 35%;
}

.movie-page p {
  padding: 2%;
  margin: 0 auto;
  color: #FCE38A;
  width: 30%;
}

.return-to-search {
  /* float: left; */
  margin-top: 5%;

  padding: 10px;
  display: inline-block;
  text-align: center;
  border-radius: 100px;
  text-decoration: none;
  text-transform: uppercase;
  width: width-button;
  cursor: pointer;
  background: -webkit-linear-gradient(#17EAD9, #5B247A);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}